.alertClass .alert-message{
    background: white;
 } 

.content {
    height: 70%;
}

.ion-margin{
    margin:0;
}

#tooSoon {
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

ion-title {
    color: white; 
    text-align: center;
    //padding-left: 0px;
    //padding-right: 40px;
}

ion-card-content{
    color: black;
    text-align:center;
}

