<ion-header>
  <ion-toolbar>
    <ion-buttons slot='end'>
      <ion-button  color='light'>
        <ion-icon slot='icon-only' name='calendar'></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title style=" text-transform: uppercase;" class='ion-text-center'>{{viewTitle}}</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content  mode="md"  [fullscreen]="true" >

<!-- 
  <app-explore-container name="Tab 1 page"></app-explore-container> -->


  <!-- <form (ngSubmit)="addEvent()" #f="ngForm"> -->
  <div *ngIf="showAddEvent" class="ion-padding" >
    <ion-item class='ion-text-center'>
      <ion-label color='primary'><b>Entrainement du {{date_selected}}</b></ion-label>
    </ion-item>

    <!-- <ion-item>
      <ion-label><b>Début</b></ion-label>
      <ion-datetime doneText="OK" cancelText="Annuler" i18n displayFormat="DD/MM/YYYY HH:mm" pickerFormat="MMM D HH:mm" [(ngModel)]="newEvent.startTime" name="newEvent.startTime" ></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label><b>Fin</b></ion-label>
      <ion-datetime doneText="OK" cancelText="Annuler" displayFormat="DD/MM/YYYY HH:mm" pickerFormat="MMM D HH:mm" [(ngModel)]="newEvent.endTime" name="newEvent.endTime"></ion-datetime>
    </ion-item> -->

    <ion-list *ngFor='let question of questions'>
      <ion-list-header  >
        <ion-label id="sous_sous_titre" class='ion-text-center'>
          <b>{{question.text}}</b>
        </ion-label>
      </ion-list-header>

      <ng-container *ngIf="question.type == 'datetime'">
        <ion-item class='ion-text-center'>
          <!-- <ion-label><b>{{question.text}}</b></ion-label> -->
          <ion-datetime doneText="OK" cancelText="Annuler" i18n displayFormat="DD/MM/YYYY HH:mm" pickerFormat="MMM D HH:mm" [(ngModel)]="question.time" name="{{question.time}}" (ionFocus)="focus($event)"></ion-datetime>
        </ion-item>

      </ng-container>


    
      <ng-container *ngIf="question.type == 'singleChoice'" >
        <ion-radio-group
        (ionChange)="SelectedType($event)"
        [(ngModel)]="question.answer"
        name="question.answer"
        >
          <ion-item *ngFor='let item of question.items'>
            <ion-label style="margin-right: 10px;">{{item.text}}</ion-label>
            <ion-radio mode='md'  value={{item.text}}></ion-radio>
            <ion-input *ngIf="item.text == 'Autre'" type="{{item.other.type}}" placeholder="{{item.other.placeholder}}" required=true style="z-index: 1000;" [(ngModel)]="item.other.answer" name="item.other.answer"></ion-input>
          </ion-item>
      
      
        </ion-radio-group>
      </ng-container>

      <ng-container *ngIf="question.type == 'rating'" >
        
        <h6 style="font-style:italic; text-align:center; display:block" text-center>{{question.subtitle}}</h6>
        <ion-item  >
          <ion-range mode='md'  min="{{question.min}}" max="{{question.max}}" step="{{question.step}}"  color="primary" pin="true"  [(ngModel)]="question.answer" name="question.answer">
            <ion-label slot="start">{{question.precisionMin}}</ion-label>
            <ion-label slot="end">{{question.precisionMax}}</ion-label>
          </ion-range>
        </ion-item>
      </ng-container>

      <ng-container *ngIf="question.type == 'temps'" >
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-input [(ngModel)]="question.h" name="question.h" type="number" placeholder='heure(s)'></ion-input>
              </ion-col>
              <ion-col>
                <ion-input [(ngModel)]="question.mn" name="question.mn" type='number' placeholder='minute(s)'></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ng-container>

      <ng-container *ngIf="question.type == 'singleInput'" >
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-input [(ngModel)]="question.answer" name="question.answer" type="number" placeholder={{question.placeholder}}></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ng-container>
  

    </ion-list>




    <ion-button (click)="addEvent()" color="primary" expand="block">Valider</ion-button>
  </div>
  <!-- </form> -->

  <calendar *ngIf="!showAddEvent"
  [eventSource]="eventSource"
  [locale]="calendar.locale"
  [calendarMode]="calendar.mode"
  [currentDate]="calendar.currentDate"
  (onCurrentDateChanged)="onCurrentDateChanged($event)"
  (onEventSelected)="onEventSelected($event)"
  (onTitleChanged)="onViewTitleChanged($event)"
  (onTimeSelected)="onTimeSelected($event)"
  [markDisabled]="markDisabled"
  step="30">
</calendar>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="showHideForm()">
    <ion-icon *ngIf="!showAddEvent" name="add"></ion-icon>
    <ion-icon *ngIf="showAddEvent" name="close"></ion-icon>
  </ion-fab-button>
</ion-fab>






</ion-content>
