<ion-header>
  <ion-toolbar>
    <ion-title>confidentialite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content>
    <h1>Introduction</h1>
  Dans le cadre de son activité, la société LE MAT Yann, dont le siège social est situé au 50 rue Jean Monnet 42650 Saint Jean Bonnefonds, est amenée à collecter et à traiter des informations dont certaines sont qualifiées de "données personnelles". LE MAT Yann attache une grande importance au respect de la vie privée, et n’utilise que des donnes de manière responsable et confidentielle et dans une finalité précise.
  
  <h1>Données personnelles</h1>
  Sur le site web www.trainimm.univ-st-etienne.fr, il y a 1 type de données susceptibles d’être recueillies :
  
  <h2>Les données transmises directement</h2>
  Ces données sont celles que vous nous transmettez directement, via un formulaire ou bien par contact direct par email. Sont obligatoires dans le formulaire de contact le champs « prénom et nom » et « email ».
  
  
  <h1>Utlisations des cookies</h1>
  Les données que vous nous transmettez directement sont utilisées dans le but de vous re-contacter et/ou dans le cadre de la demande que vous nous faites. 
  
  <h1>Base légale</h1>
  Les données personnelles ne sont collectées qu’après consentement obligatoire de l’utilisateur. Ce consentement est valablement recueilli (boutons et cases à cocher), libre, clair et sans équivoque.
  
  <h1>Durée de conservation</h1>
  Les données seront sauvegardées durant une durée maximale de 3 ans.
  
  <h1>Cookies</h1>
  Voici la liste des cookies utilisées et leur objectif :
  
  authData : Permet de garder en mémoire vos données de connexion afin de vous re-connecter automatiquement après la 1ère connection.
  
  <h1>Vos droits concernant les données personnelles</h1>
  Vous avez le droit de consultation, demande de modification ou d’effacement sur l’ensemble de vos données personnelles. Vous pouvez également retirer votre consentement au traitement de vos données.
  
  <h1>Contact délégué à la protection des données</h1>
  LE MAT Yann - yannlemat.perso@gmail.com - 07 82 71 84 78
  
  </ion-content>

</ion-content>
